/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para o cabeçalho */
header {
    background-color: #177e11; /* Cor verde */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para o conteúdo da mensagem */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.mensagem {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
}

.botao-voltar {
    text-align: center;
}

.voltar-btn {
    background-color: #177e11; /* Cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voltar-btn:hover {
    background-color: #45a049; /* Cor verde mais escura ao passar o mouse */
}
