
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #177e11;
    color: #fff;
    padding: 20px;
    text-align: center;
}


header h1 {
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


#resultadoDFS {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 200px; 
    max-height: 400px; 
    overflow-y: auto; 
}


#resultadoDFS ul {
    list-style-type: none;
    padding: 0;
}


#resultadoDFS ul li {
    margin-bottom: 5px;
}


#linkVoltar {
    position: absolute;
    left: 20px; 
    top: 20px; 
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease; 
}

#linkVoltar:hover {
    opacity: 0.8; 
}
