body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #177e11;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  font-size: 16px;
  color: #333;
}

textarea {
  width: 80%;
  height: 10vh;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #177e11;
  resize: vertical;
  box-sizing: border-box;
}

input[type="text"] {
  width: 20%;
  height: 5%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #177e11;
  box-sizing: border-box;
}

button {
  background-color: #177e11;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: inline-block;
}

#botõesdebusca {
  text-align: center;
}

#botõesdebusca form {
  display: inline-block;
  margin-right: 10px;
}


#botõesdebusca button { 
  width: 100px;
  margin-right: 10px;
  background-color: #177e11;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}



button:hover {
  background-color: #00b38f;
}

#listaOutput {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 1px solid #177e11;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

#listaOutput ul {
  list-style-type: none;
  padding: 0;
}

#listaOutput ul li {
  margin-bottom: 5px;
}


#listaOutput + div {
  margin-top: 20px;
}

#listaOutput + div button {
  margin-right: 10px;
}



#linkVoltar {
  position: absolute;
  left: 20px;
  top: 20px; 
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

#linkVoltar:hover {
  opacity: 0.8; 
}
