<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos de Busca</title>
    <link rel="stylesheet" href="/static/styleAlgoritmoNaoDirecionadaDFS.css">
</head>
<body>

<header>
    <h1>Grafos Direcionados</h1>
    <a id="linkVoltar" href="javascript:history.back()">&#8592;</a>
</header>
<div class="container">
    <h2>Resultado DFS</h2>
    <div id="resultadoDFS">
        <h3>Grafo:</h3>
        <ul>
            {% for key, value in grafoDFS.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
