<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos de Busca</title>
    <link rel="stylesheet" href="/static/styleAlgoritimoNaoDirecionadaDFS.css">
</head>
<body>

<header>
    <h1>Grafos Direcionados</h1>
    <a id="linkVoltar" href="javascript:history.back()">&#8592;</a>
</header>
<div class="container">
    <h2>Resultado DFS</h2>
    <div id="resultadoDFS">
        {% if grafoDFS %}
            <h3>Grafo:</h3>
            <ul>
                {% for key, value in grafoDFS.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum resultado encontrado para o grafo.</p>
        {% endif %}
        
        {% if subgrafoDFS %}
            <h3>Subgrafo:</h3>
            <ul>
                {% for key, value in subgrafoDFS.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum resultado encontrado para o subgrafo.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
