<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao site</title>
    <link rel="stylesheet" href="/static/styleHome.css">
</head>
<body>
    <header>
        <h1>Algoritmo de Grafo</h1>
    </header>
</head>
<body>
    <div class="container">
        <h2>Bem-vindo ao Site</h2>
        <p>Qual tipo de lista de grafo você deseja inserir?</p>
        <ul>
            <li><a href="/Direcionada">Direcionado</a></li>
            <li><a href="/NaoDirecionada">Não direcionado</a></li>
        </ul>
    <script>
        function scrollToTop() {
            window.scrollTo(0, 0);
        }
    </script>
</body>
</html>