<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Lista Direcionada</title>
    <link rel="stylesheet" href="/static/styleListaDirecionada.css">
</head>
<body>
    <header>
        <h1>Grafos Direcionados</h1>
        <a id="linkVoltar" href="javascript:history.back()">&#8592;</a>
    </header>
    <div class="container">
        <div>
            <h2>Inserir Grafo Direcionado</h2>
            <form action="/insereListaDirecionada" method="post">
                <label for="grafoInput">Insira aqui o Grafo no formato:[("A", "B"), ("A", "E"),...] </label><br>
                <textarea id="grafoInput" name="grafoInput" rows="4" cols="50"></textarea><br>
                <button type="submit">Inserir grafo</button>
            </form>
        </div>
        <div>
            <h2>Inserir Componente Desconexa</h2>
            <form action="/insereSubgrafoDirecionado" method="post">
                <label for="subgrafoInput">Insira aqui a componente desconexa no formato:[("A", "B"), ("A", "E"),...] </label><br>
                <textarea id="subgrafoInput" name="subgrafoInput" rows="4" cols="50"></textarea><br>
                <label for="qtdInput">Quantidade:</label>
                <input type="text" id="qtdInput" name="qtdInput"><br>
                <button type="submit">Inserir Componente</button>
            </form>
            <div id="subgrafoOutput"></div>
        </div>
        <div>
            <form action="/exibeListaDirecionada" method="get">
                <button type="submit">Exibir lista de adjacência</button>
            </form>
        </div>
        <div>
            <h2>Lista de Adjacência</h2>
            <div id="listaOutput">
                {% if grafo %}
                <h3>Grafo:</h3>
                <ul>
                    {% for key, value in grafo.items() %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if subgrafo %}
                <h3>Subgrafo:</h3>
                <ul>
                    {% for key, value in subgrafo.items() %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div id="botõesdebusca">
                 <form action="/BuscaEmLarguraDirecionada" method="get">
                    <button type="submit">BFS</button>
                </form>
                <form action="/BuscaEmProfundidadeDirecionada" method="get">
                    <button type="submit">DFS</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
