<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Lista Direcionada</title>
    <link rel="stylesheet" href="/static/styleListaDirecionada.css">
</head>
<body>

  <header>
    <h1>Grafos Direcionados</h1>
  </header>
  <div class = 'container'>

<label for="listaInput">Insira aqui o Grafo e seu Subgrafo (Caso exista):</label><br>
<textarea id="listaInput" rows="4" cols="50"></textarea><br>
<button onclick="inserirGrafo()">Inserir grafo</button>
<button onclick="inserirSubgrafo()">Inserir subgrafo</button>
<button onclick="exibirListaAdjacencia()">Exibir lista de adjacência</button>


<!-- <button id="inserirGrafoBtn" onclick="inserirGrafo()">Inserir grafo</button>
<button id="inserirSubgrafoBtn" onclick="inserirSubgrafo()">Inserir subgrafo</button> -->


<div id="listaOutput"></div>

<script>
function inserirGrafo() {
    var listaPares = document.getElementById("listaInput").value;

    // Enviar a lista de pares para o servidor Flask
    enviarListaPares(listaPares, "/insere_lista_direcionada");
}

function inserirSubgrafo() {
    var listaPares = document.getElementById("listaInput").value;

    // Enviar a lista de pares para o servidor Flask
    enviarListaPares(listaPares, "/insere_subgrafo_direcionado");
}

function enviarListaPares(listaPares, rota) {
    // Fazer uma solicitação AJAX para enviar a lista de pares para o servidor Flask
    var xhr = new XMLHttpRequest();
    xhr.open("POST", rota);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onload = function() {
        if (xhr.status === 200) {
            // Exibir a resposta do servidor (opcional)
            document.getElementById("listaOutput").innerHTML = xhr.responseText;
        } else {
            console.error(xhr.statusText);
        }
    };
    xhr.onerror = function() {
        console.error(xhr.statusText);
    };
    xhr.send(JSON.stringify({ listaPares: listaPares }));
}

function exibirListaAdjacencia() {
        // Chamada à função Python para exibir a lista de adjacência
        pywebPython.exibir_listaAdjacencia();
    }
    </script>

</body>
</html>
